*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.conteiner {
  /* outline: 1px solid tomato;*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1600px) {
  .conteiner {
    width: 1200px;
  }
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1600px) {
  .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--accent {
  color: #2196f3;
}

.page-header {
  position: relative;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1;
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open .icon-open {
  display: none;
}

.menu-conteiner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

.menu-conteiner.is-open {
  display: block;
}

.nav-page {
  padding-top: 48px;
  padding-left: 40px;
}

.nav-page__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-page__link.current {
  color: #2196f3;
}

.nav-page__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-contact {
  margin-top: 306px;
  padding-left: 40px;
}

.nav-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-contact__link.nav-contact__link--accent {
  font-size: 34px;
  line-height: 1.17;
  color: #2196f3;
}

.nav-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
  margin-left: 30px;
  padding-bottom: 48px;
}

.nav-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.nav-social__link {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
/*# sourceMappingURL=portfolio.css.map */