$logo-font: Raleway, sans-serif;
$text-font: Roboto, sans-serif;

$accent-color: #2196f3;
$title-text-color: #212121;
$text-color: #757575;
$bg-hero-color: #c4c4c4;
$hero-title-color: #ffffff;
$icon-bg-color: #f5f4fa;
$icon-color: #afb1b8;
